In [5]:
import pandas as pd

In [6]:
dataframe = pd.read_csv("databasexer.csv")
dataframe.head()

    playerID                awardID  yearID lgID  tie notes
0   bondto01  Pitching Triple Crown    1877   NL  NaN   NaN
1  hinespa01           Triple Crown    1878   NL  NaN   NaN
2  heckegu01  Pitching Triple Crown    1884   AA  NaN   NaN
3  radboch01  Pitching Triple Crown    1884   NL  NaN   NaN
4  oneilti01           Triple Crown    1887   AA  NaN   NaN

In [7]:
def add_full_name(path_to_csv, path_to_new_csv):
    dataframe = pandas.read_csv(path_to_csv)
    dataframe['nameFull'] = dataframe['nameFirst'] + ' ' + dataframe ['nameLast']

In [8]:
dataframe.to_csv(path_to_new_csv)

NameError: name 'path_to_new_csv' is not defined

In [9]:
if__name__ == '__main__':
    add_full_name(databaserx.csv)

SyntaxError: invalid syntax (<ipython-input-9-74d0c195c751>, line 1)